.table-container {
    border-radius: 2rem;
    max-width: 90vw;
    max-height: 80vh;
    overflow: scroll;
}

tbody{
    height: 100%;
}
tbody > tr:nth-child(2n+1) {
    background-color: #9c9c9c;
    border: none;
}

table {
    border-collapse: collapse;
    margin: 1rem;
    position: relative;
}

thead > tr > td {

}
th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    font-weight: 900;
    font-size:1.2rem;
    text-align: center;
    padding: 0.5rem 1rem;
}
tbody > tr:hover{
    background-color: #FFF0C9;
}